.header-image {
    width: auto;
    margin: auto;
}

.header-image img{
    position: absolute;
    width: 100%;
    height: 54%;
    top: 80px;
}

.home-page-container{
        margin: auto;
        margin-top: 570px;
    }

.author-article-container{
    width: 80%;
    margin: auto;
    margin-top:410px;
}

.author-articles-container{
    width: 80%;
    margin: auto;
    margin-top:315px;
    background-color: white;
}

.img-card{
    width: 100%;
    height: 120px;
}

.read-time{
    margin-left: 10px;
    color: #C81010;
    font-size: 10px;
}

.author{
    color: #005EA3;
    font-weight: bold;
    font-size: 10px;
}

.article-card {
    height: 240px;
}

.edit-icon img{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 160px; 
}

.remove-icon img{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 200px;
}

@media (max-width: 1440px) {
    .home-page-container {
        margin-top: 510px;
    }
}

@media (max-width: 1024px) {
    .home-page-container {
        margin-top: 450px;
    }
}

@media (max-width: 425px) {
    .header-image img{
        height: 200px;
    }

    .home-page-container {
        margin-top: 250px;
    }
}

@media (max-width: 1047px) {
    .home-page-container {
        margin-top: 450px;
    }
}
