@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rum+Raisin&display=swap');

.read-article-body{
    position: relative;
}
.read-article-container{
    margin-top: 130px,
}
.read-article-image{
    width: 75%;
    margin: auto;
    margin-left: 125px;
    max-height:450px
}

.article-text {
    width: 60%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: justify;
    margin-top: 50px
}

.title{
    font-family: 'Rum Raisin', sans-serif;
    font-weight: bold;
    color: black;
    text-align: left;
}

.article-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: black;
}
.author-name {
    padding-left: 700px;
    color: #005EA3;
}

.display-tags {
    position: relative;
    left:27%;
    border: solid 1px #ccc;
    padding: 3px 10px;
    display: inline-block;
    margin-right:10px
}

.display-tags text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #8A8888;
    align-items: center;
    text-align: center;
    margin-left:10px
}
.author-image-on-read-article{
   position: relative;
   left: 80px
}
.author-image-on-read-article img{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 140px
 }

 .author-image-on-read-article text{
    position: absolute;
    padding-left: 60px;
    margin-top: 10px;
    left: 140px
 }

 .vote {
    margin-left: 390px;
    margin-top: 30px;
}

@media (max-width: 425px) {
    .read-article-body {
        width: 90%;
    }

    .author-name {
        padding-left: 200px;
    }
}
.comment-form{
    width: 45%;
    margin: 0 auto;
    border: 1px solid #cacdcf;
    padding: 20px;
    margin-top: 50px;
}
.comment-section textarea{
 resize: none;
 font-size: 12px;
 padding: 20px;
}
.comment-btn{
    background-color: #12699b !important;
    font-weight: bold;
    border: none !important;
}

.edit-submit{
    border: none !important;
    background-color: #12699b !important;
}
.form-header img{
    width: 40px;
    border-radius: 50px;
}
.comments{
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    margin-top: 20px;
}
.comments .card {
    margin-top: 0px;
}
.comments{
    position: absolute;
}
.authorUsername{
    width: 30px;
    border-radius: 50px;
    margin-right: 20px;
    background: #12699B;
}

.edit-comment-icons{
    position: absolute;
    top:20px;
    left: 50px;
}
.edit-icon-comment button{
   margin-left: 400px;
   background: #ffffff;
}
.remove-icon-comment button{
   margin-left: 420px;
   background: #ffffff;
}
.comments p{
   font-size: 15px;
}
.modal-body textarea{
 resize: none;
 font-size: 14px;
 padding: 20px;
}
.card-header{
    background: #ffffff !important;
}

.comment-edit-icon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 330px;
    top: 0; 
}

.comment-remove-icon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 380px;
    top: 0; 
}
