.read-article-container{
    margin-top: 130px,
}
.read-article-image{
    width: 75%;
    margin: auto;
    margin-left: 125px;
    max-height:450px
}

.article-text {
    width: 60%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.title{
    font-family: 'Rum Raisin', sans-serif;
    font-weight: bold;
    color: black;
}

.article-title {
    font-family: 'Rum Raisin', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: black;
}