.bottom-article{
    width: 46% !important;
    margin: auto !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: block;
    &__likes{
        display: inline-block;
        width: 50%;
    }
    &__report{
        display: inline-block;
        width: 50%;
        text-align: right;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #C81010;
        cursor: pointer;
    }
}
.close{
    text-align: right;
}
.main-div-report{
    display: grid;
    padding: 5% 20%;
    grid-template-columns: 1fr;
}

.main-div-report input{
    outline: none !important;
}
.reporting-content{
    &__story{
        margin-bottom: 30px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }
}

.report-form{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    outline: none;
    &__label{
        display: inline;
        padding-left: 10px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #000000;
    }
    &__feedback{
        border: none;
        border-bottom: 1px solid #868484;
        width: 100%;
        padding: 10px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #656060;
    }
    &__feedback-block{
        margin-top: 20px;
    }
    &__buttons{
        margin-top: 30px;
        &_btn{
            border: none;
            width: 126px;
            height: 38px;
            left: 603px;
            top: 659px;
            border-radius: 5px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            align-items: center;
            text-align: center;
            outline: none !important;
        }
        &_report{
            background: #C81010;
            color: white;
            margin-right: 40px;
        }
        &_concel{
            background: #F9FCFB;
            border: 1px solid #B5B5B5;
            color: #C81010;
        }
        
    }
}

.spinnerImage{
    margin-top: 35vh;
    margin-left: 40vw;
}
.spinnerImage11{
    width: 100%;
}
.spinnerImage1{
    margin-left: 50vh;
}