.contents{
    margin-top: 50px;
    margin: 40px 15% ;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    justify-content: center;
  }
  .cards{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    grid-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    &__image{
        &_pic{
          border-radius: 0px;
          width: 100%;
          height: 100%;
        }
    }
  }
.card__inf{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(95%, 1fr));
  justify-content: center;
  &_name{
    padding: 10%;
    text-align: center;
  }
  &_myBtn{
    text-align: center;
  }
  &_btn{
    padding: 0px;
    display: inline;
    margin: 3%;
    color: white;
  }
  &_btnPro{
    background-color: #17a2b8;
    border: none;
    padding: 1% 2%;
    color: white;
  }

}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modalsd {
  display: block;
  position: fixed;
  z-index: 150;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: 0px dotted;
}

.profile{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 3fr;
  &__imagecontent{
    border-radius: 3px;
    width: 300px;
    
  }
  &__profilecontent{
    padding: 10px 50px ;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 3fr;
  }
}

.messagebox{
  display: none;
}

.message{
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(134, 195, 134);
  width: 50%;
  float: right;
  text-align: center;
}

.errormessage{
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(141, 31, 21);
  width: 50%;
  float: right;
  text-align: center;
}

.in-p{
  margin-top: 130px;
  padding: 0px 30%;
}

.usenameNoDisplaye{
  display: none;
}

.usenamedisplayBlock{
  display: block;
}

.followerbtn{
  border: none;
  padding: 1% 2% !important;
  background: #12699B;
  border-radius: 0px;
}

@media only screen and (max-width: 630px) {
  .contents{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(95%, 1fr));
    justify-items: center;
    margin: 60px 15px;
  }
  .cards{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;
    padding: 0px;
    &__image{
        &_pic{
          border-radius: 0px;
          min-width: 100%;
          width: 100%;
          height: 100%;
        }
    }
  }
  .card__inf{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(95%, 1fr));
    justify-content: center;
    &_name{
      text-align: center;
    }
    &_btn{
      padding: 0px;
      display: inline;
      margin: 3%;
      color: white;
    }
    &_btn:hover{
      opacity: 0.7;
    }
    &_btnPro{
      background-color: #17a2b8;
      border: none;
      padding: 1% 2%;
      color: white;
    }
    &_btnPro:hover{
      opacity: 0.7;
    }

  }
  .followerbtn{
    border: none;
    padding: 1% 2% !important;
    background: #12699B;
    border-radius: 0px;
  }

  .profile{
    display: grid;
    grid-template-columns: 1fr 3fr;
    &__imagecontent{
      min-width: 100%;
      width: 100%;
    }
    &__profilecontent{
      padding: 10px 50px ;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 1fr 3fr;
    }
  }

  .button{
    padding: 0;
  }

  .Header .header-notification-button .number{
    margin-top: 20px;
  }
}

.unfollow-btn{
  background: #C81010 !important;
  color: white;
}