@import '../../../assets/css/pixels.scss';
@import '../../../assets/css/colors.scss';
@import '../../../assets/css/shadow.scss';
@import '../../../assets/css/radius.scss';
@import '../../../assets/css/padding.scss';

.HeaderUserMenu {
    position: fixed;
    right: 15px;
    top: 75px;
    width: 200px;
    padding-top: 0px !important;
    @extend .shadow-2, .text-black, .white, .radius-1;

    .username {
        text-align: center;
        border-bottom: solid 1px $light-grey;
        font-weight: bold;
        padding: 5px;
        margin-top: -5px;
        margin-bottom: 0px;
        background: $button;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        display: inline;
        li {
            a {
                &:hover {
                    background-color: $light-grey;
                }
                margin: 0 !important;
                padding: 10px;
                display: flex;
            }
        }
    }
}
